:root {
  font-size: 1rem;
  line-height: 1.5rem
}

@media (--medium-viewport) {
  :root {
    font-size: 1.125rem;
    line-height: calc(5rem / 3);
  }
}

@media (--wide-viewport) {
  :root {
    font-size: 1.25rem;
    line-height: 1.6rem;
  }
}

body {
  color: var(--text-color);
  font-family: var(--font-stack);
  font-size: var(--font-size-normal);
}

p {
  margin-bottom: 0;
  margin-top: 0;
  /* max-width: var(--line-length); */
}

.paragraph {
  max-width: var(--line-length);
}

a:link,
a:visited {
  color: var(--primary-color);
}

/*
* Maybe move to other place later:
*/

a.active {
  font-style: italic;
}

:lang(ar),
:lang(he) {
  direction: rtl;
}
