:root {
  font-size: clamp(0.875rem, 0.5vw + 0.8rem, 1.125rem);  /* Min: 14px, Max: 18px */
  line-height: clamp(1.3rem, 0.4vw + 1.3rem, 1.7rem);  /* Min: 20.8px, Max: 27.2px*/
}

body {
  color: var(--text-color);
  font-family: var(--font-stack);
  font-size: var(--font-size-normal);
}

p {
  margin-bottom: 0;
  margin-top: 0;
  /* max-width: var(--line-length); */
}

.paragraph {
  max-width: var(--line-length);
}

a:link,
a:visited {
  color: var(--primary-color);
}

/*
* Maybe move to other place later:
*/

a.active {
  font-style: italic;
}

:lang(ar),
:lang(he) {
  direction: rtl;
}
