h1, h2, h3, h4, h5, h6 {
  color: var(--heading-color);
  margin-top: 0;
  margin-bottom: 0;
}

h1,
.h1 {
  font-size: var(--font-size-huge);
  line-height: 1rlh;
  max-width: var(--line-length);
}

h2,
.h2 {
  font-size: var(--font-size-large);
  line-height: 1rlh;
}

h3,
.h3 {
  font-size: var(--font-size-normal);
  font-weight: bold;
}
