.u-align-left { text-align: left !important; }
.u-align-center { text-align: center !important; }
.u-align-right { text-align: right !important; }

.u-font-italic { font-style: italic !important; }
.u-font-serif { font-family: var(--font-stack-serif) !important; }

.u-font-large { font-size: var(--font-size-large) !important; }

.u-ll {
  width: clamp(min(93.75vw, 50ch), 70vw, 75ch);
  /*max-width: var(--line-length) !important;*/
}
