{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {{ collection.name }} | {{ block.super }}
{% endblock title %}
{% block content %}
    <h1>{{ collection.name }}</h1>
    <p class="u-ll u-mt">
        {{ collection.description }}
    </p>
    <ul class="u-mt">
    {% for resource in resource_list %}
        <li>
            <a href="{% url 'resources:resource-detail' collection.pk resource.pk %}">{{ resource.name }}</a>
        </li>
    {% endfor %}
    </ul>
{% endblock content %}
