{% extends "base.html.jinja" %}
{% block title %}Contact{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="u-mt">Contact</h1>
    <p>Please contact marcaltmann@posteo.de for help etc.</p>
  </div>
{% endblock %}
