{% extends "base.html.jinja" %}
{% block title %}Search{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="u-mt">Search</h1>
    <p>Coming soon: Search page</p>
  </div>
{% endblock %}
