{% extends "base.html.jinja" %}
{% block title %}Legal Notice{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="u-mt">Legal Notice</h1>
    <p>Legal notice information here.</p>
  </div>
{% endblock %}
