<li class="card">
  <a
    class="card__link"
    href="{{ url_for('resource-detail', resource_id=resource.id) }}"
  >
    <img
      class="card__image"
      src="{{ resource.get_thumb_url('md') }}"
      srcset="
        {{ resource.get_thumb_url('sm') }} 160w,
        {{ resource.get_thumb_url('md') }} 320w,
        {{ resource.get_thumb_url('lg') }} 480w
      "
      sizes="(max-width: 640px) 160px, (max-width: 1024px) 320px, 480px"
      loading="lazy"
      alt=""
      width="240"
    />
    <div class="card__body">
      <h3 class="card__title">{{ resource.name }}</h3>
      <ul class="card__list">
        <li>{% if resource.is_video() %}Video{% else %}Audio{% endif %}</li>
        <li>{{ resource.duration|duration_format }}</li>
      </ul>
    </div>
  </a>
</li>
