.admin-grid {
  display: grid;
  gap: 1rlh;
  grid-template-columns: 10rlh 1fr;
}

.a-site {

}

.a-site__header {
  height: 2rlh;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.a-header {
  align-items: center;
  background-color: var(--background-color-ui);
  display: flex;
  padding-inline: 1rlh;
}

.a-header__home {
  align-items: center;
  display: flex;
  font-weight: bold;
  gap: 0.5rlh;
  text-decoration: none;
}

.a-header__menu {
  margin-left: auto;
}

.a-header__link-list {
  align-items: center;
  display: flex;
  gap: 0.5rlh;
  list-style-type: none;
  margin-block: 0;
  padding-left: 0;
}

.a-header__link {
  text-decoration: none;
}

.a-site__sidebar {
  background-color: var(--background-color-sidebar);
  bottom: 0;
  box-sizing: border-box;
  left: 0;
  padding: 1rlh 0.5rlh 1rlh 1rlh;
  position: fixed;
  top: 2rlh;
  width: 10rlh;
}

.a-site__content {
  padding-left: 10rlh;
  padding-top: 2rlh;
}

.a-container {
  margin-inline: auto;
  max-width: 50rlh;
  padding: 1rlh 1rlh 2rlh;
}

dl {
  margin-block: 0;
}
