.admin-grid {
  display: grid;
  gap: 1rlh;
  grid-template-columns: 10rlh 1fr;
}

.a-site {

}

.a-site__header {
  height: 2rlh;
}

.a-header {
  align-items: center;
  background-color: var(--background-color-ui);
  display: flex;
  padding-inline: 1rlh;
}

.a-header__home {
  align-items: center;
  display: flex;
  font-weight: bold;
  gap: 0.5rlh;
  text-decoration: none;
}

.a-header__menu {
  margin-left: auto;
}

.a-header__link-list {
  align-items: center;
  display: flex;
  gap: 0.5rlh;
  list-style-type: none;
  margin-block: 0;
  padding-left: 0;
}

.a-header__link {
  text-decoration: none;
}

.a-site__sidebar {
  background-color: var(--background-color-sidebar);
  bottom: 0;
  box-sizing: border-box;
  color: var(--text-color-sidebar);
  left: 0;
  padding: 3rlh 0.5rlh 1rlh 1rlh;
  position: fixed;
  top: 0;
  width: 10rlh;
}

.a-site--small .a-site__sidebar {
  padding: 3rlh 0.5rlh 1rlh;
  width: 2.25rlh;
}

.a-site--small .a-site__sidebar b {
  display: none;
}

.a-site__sidebar a:any-link {
  color: var(--text-color-sidebar);
  text-decoration: none;
}

.a-site__content {
  padding-left: 10rlh;
}

.a-site--small .a-site__content {
  padding-left: 2.25rlh;
}

.a-site--small .a-site__header {
  padding-left: calc(1rlh + 2.25rlh);
}

.a-container {
  margin-inline: auto;
  max-width: 50rlh;
  padding: 1rlh 1rlh 2rlh;
}

.a-menu {

}

.a-menu__link {
  display: flex;
  gap: 0.25rlh;
}

.a-menu__icon {
  width: 1rlh;
  fill: var(--text-color-sidebar);
}

dl {
  margin-block: 0;
}
