:root {
  --accent-color: #49897d;
  --accent-color-dark: #2f5951;
  --secondary-color: #ffe448;
  --background-color-ui: #111;
  --background-color-content: #222;
  --header-width: 55rlh;
  --line-length: 30rlh;
  --page-width: 60rlh;
  --text-color: #eee;
  --text-color-dark: #ccc;

  font-size: 1.0625rem;
  line-height: 1.5rem;
}

body.a-site {
  --background-color-ui: #ccc;
  --background-color-content: #eee;
  --background-color-sidebar: var(--accent-color-dark);
  --text-color-sidebar: #eee;
  --text-color: #222;
}
