{% load i18n %}
{% load archive_extras %}
<li class="card card--resource">
  <h3 class="card__title">
    <a class="card__link"
       href="{% url 'archive:resource_detail' document.id %}">
      {{ document.title }}
    </a>
  </h3>
  <ul class="card__detail">
    <li>
      <time datetime="{{ document.duration.seconds|timecode:"iso8601" }}">
        {{ document.duration.seconds|timecode }}
      </time>
    </li>
    <li>
      {{ document.media_type }}
    </li>
    <li>
      <time datetime="{{ document.production_date }}">
        {{ document.production_date }}
      </time>
    </li>
    <li>
      {% blocktranslate count counter=document.media_files_count %}{{ counter }} media file{% plural %}{{ counter }} media files{% endblocktranslate %}
    </li>
    <li>
      {{ document.score }}
    </li>
  </ul>
</li>
