{% load archive_extras %}
<li class="card card--resource">
  <h3 class="card__title">
    <a class="card__link"
       href="{% url 'archive:resource_detail' resource.id %}">
      {{ resource.title_t }}
    </a>
  </h3>
  <ul class="card__detail">
    <li>
      <time datetime="{{ resource.duration_i|timecode:"iso8601" }}">
        {{ resource.duration_i|timecode }}
      </time>
    </li>
    <li>
      {{ resource.media_type_s }}
    </li>
    <li>
      <time datetime="{{ resource.production_date_dt }}">
        {{ resource.production_date_dt }}
      </time>
    </li>
  </ul>
</li>
