{% load archive_extras %}
<li class="card card--resource">
  <h3 class="card__title">
    <a class="card__link"
       href="{% url 'archive:resource_detail' resource.id %}">
      {{ resource.title }}
    </a>
  </h3>
  <ul class="card__detail">
    <li>
      <time datetime="{{ resource.duration.seconds|timecode:"iso8601" }}">
        {{ resource.duration }}
      </time>
    </li>
    <li>
      {{ resource.media_type }}
    </li>
    <li>
      <time datetime="{{ resource.production_date|date:"Y-m-d" }}">
        {{ resource.production_date|date:"SHORT_DATE_FORMAT" }}
      </time>
    </li>
  </ul>
</li>
