{% load static %}
{% load i18n %}
{% load l10n %}
{% load django_htmx %}
{% load archive_extras %}
<nav>
  {% for file in media_files %}
    <a href="{% url 'archive:media_file_detail' file.resource_id file.order %}">{% blocktranslate with ord=file.order %}file {{ ord }}{% endblocktranslate %}</a>
  {% endfor %}
</nav>
{% if media_file.is_video %}
  <video id="resource-media" class="video video-js vjs-fluid" controls>
    <source src="{{ media_file.media_url }}#t={{ timecode }}"
            type="{{ media_file.media_type }}">
    {% for transcript in transcripts %}
      {% if transcript.vtt %}
      <track kind="captions" src="{% url 'materials:transcript_vtt' transcript.id %}"
             srclang="{{ transcript.language }}" label="{{ transcript.language }}">
      {% endif %}
    {% endfor %}
  </video>
{% else %}
  <audio id="resource-media" class="audio video-js vjs-default-skin" controls>
    <source src="{{ media_file.media_url }}#t={{ timecode }}"
            type="{{ media_file.media_type }}">
  </audio>
{% endif %}
<h1 class="h1 u-mt">
  {% if perms.archive.view_resource %}
    {{ resource.title }}
  {% else %}
    {{ resource.anon_title }}
  {% endif %}
</h1>

<form hx-post="{% url 'archive:bookmark_resource' resource.id %}"
      hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
      hx-target="#result"
      hx-disabled-elt="find button"
      id="result"
      class="form u-mt-small">
  {% include "archive/resource_bookmark_button.html" with is_bookmarked=is_bookmarked %}
</form>

{% if resource.description %}
  <p class="u-mt">{{ resource.description }}</p>
{% endif %}

<h2>{% translate "Metadata" %}</h2>
{% if perms.archive.view_resource %}
  <h3>{% translate "Default" %}</h3>
  <dl>
    <dt>{% translate "Media type" %}</dt>
    <dd>{{ resource.media_type }}</dd>
    <dt>{% translate "Produced" %}</dt>
    <dd><time datetime="{{ resource.production_date|date:"Y-m-d" }}">{{ resource.production_date|date:"SHORT_DATE_FORMAT" }}</time></dd>
    <dt>{% translate "Duration" %}</dt>
    <dd><time datetime="{{ resource.duration.seconds|timecode:"iso8601" }}">{{ resource.duration }}</time></dd>
  </dl>
  <h3>{% translate "Custom" %}</h3>
  <ul>
    {% for char_field_metadata in resource.charfieldmetadata_set.all %}
      <li>
        <span title="{{ char_field_metadata.key.description }}">{{ char_field_metadata.key.label|capfirst }}:</span>
        {{ char_field_metadata.value }}
      </li>
    {% endfor %}
  </ul>
  <h3>{% translate "Collections" %}</h3>
  <ul>
    {% for collection in collections %}
      <li>
        <a href="{% url 'archive:collection_detail' collection.id %}">{{ collection }}</a>
      </li>
    {% endfor %}
  </ul>
  <h3>{% translate "Agents" %}</h3>
  <ul>
    {% for agency in resource.agency_set.all %}
      <li>
        <a href="{% url 'archive:agent_detail' agency.agent_id %}">{{ agency.agent }}</a>
        ({{ agency.get_type_display }})
      </li>
    {% endfor %}
  </ul>
  <h3>{% translate "Entities" %}</h3>
  <ul id="entities">
    {% for er in resource.entityreference_set.all %}
      <li>
        <a href="{% url 'entities:entity_detail' er.entity.id %}">{{ er.entity.name }}</a>
        {% for tc in er.timecodes %}
          <a class="timecode__link"
             data-start="{{ tc|unlocalize }}"
             href="{% url 'archive:resource_detail' resource.id %}?tc={{ tc|unlocalize }}">{{ tc|timecode }}</a>
        {% endfor %}
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p class="p u-mt-small">
    {% translate "You do not have the permissions to view metadata." %}
  </p>
{% endif %}

<section class="u-mt">
  <h2>
    {% translate "Image Materials" %}
  </h2>
  <ul class="u-mt-1/2">
    {% for image_material in image_materials %}
      <li>
        <a href="{% url 'materials:image_material_detail' image_material.id %}">
          {{ image_material.identifier }}
        </a>
      </li>
    {% endfor %}
  </ul>
</section>
