{% extends "base.html" %}
{% load i18n %}
{% load vite %}
{% block title %}
  {% if perms.archive.view_resource %}
    {{ resource.title }}
  {% else %}
    {{ resource.anon_title }}
  {% endif %}
  | {{ block.super }}
{% endblock %}
{% block content %}
  <nav class="breadcrumbs">
    <p>
      <a class="breadcrumbs__link"
         href="{% url 'archive:resource_index' %}">{% translate "Resources" %}</a> ▸
      <a>
        {# This is logic and does not belong here. #}
        {% if perms.archive.view_resource %}
          {{ resource.title|truncatechars:25 }}
        {% else %}
          {{ resource.anon_title|truncatechars:25 }}
        {% endif %}
      </a>
    </p>
  </nav>
  <div class="grid grid--resource-page u-mt">
    <div>{% include "archive/resource_main.html" %}</div>
    <div>{% include "archive/resource_sidebar.html" %}</div>
  </div>
{% endblock %}
{% block javascript %}
  {% vite 'assets/js/index.js' %}
{% endblock %}
