{% extends "admin/base.html.jinja" %}
{% block title %}Admin{% endblock %}

{% block content%}
<div class="a-container">
    <h1 class="u-mt">Admin</h1>
    <p>Coming soon: Admin dashboard</p>
</div>
{% endblock %}
