{% extends "admin/base.html.jinja" %}
{% block title %}{{ collection.name }}{% endblock %}

{% block content %}
  <div class="a-container u-mt">
    <h1>{{ collection.name }}</h1>

    <p class="u-mt-small">
      <a href="{{ url_for('collection-detail', collection_id=collection.id) }}"
        >View in app</a
      >
    </p>

    <dl class="u-ll u-mt">
      <dt>Name</dt>
      <dd>{{ collection.name }}</dd>
      <dt><abbr title="Universally Unique Identifier">UUID</abbr></dt>
      <dd>{{ collection.uuid }}</dd>
      <dt>Description</dt>
      <dd>{{ collection.description }}</dd>
      <dt>Color</dt>
      <dd style="background-color: {{ collection.color }};">
        {{ collection.color }}
      </dd>
      <dt>Resources</dt>
      <dd>{{ collection.resources|length }}</dd>
    </dl>
  </div>
{% endblock %}
