.button {
    background-color: var(--color-scheme-5);
    border: none;
    border-radius: var(--border-radius);
    color: #fff;
    line-height: 1rlh;
    padding: 0 0.5rlh;
    transition: background-color var(--transition-duration);
}

.button:hover,
.button:active {
    background-color: var(--color-scheme-6);
}

.button--small {
    border: 1px solid var(--ui-color);
    border-radius: 3px;
    font-size: 0.875rem;
    line-height: 1rlh;
    padding: 0 0.25rlh;
}

.button:any-link {
    color: #fff;
    text-decoration: none;
}
