.footer {
  background-color: var(--footer-color);
  color: var(--text-color);
}

.footer__inner {
  padding-bottom: 1.5rlh;
  padding-top: 1rlh;
}

.footer__title {
  display: flex;
  gap: 0.5rlh;
  justify-content: center;

  & a { display: flex; }
}

.footer__icon {
  height: 1rlh;
  width: auto;
}

@media (--wide-viewport) {
  .footer__inner {
    padding-bottom: 2rlh;
    padding-top: 1.5rlh;
  }
}
