.hero {
  margin-bottom: 2rlh;
  margin-top: 4rlh;
  text-align: center;
}

.hero__title {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: -0.05rem;
  line-height: 1.5rlh;
  margin-top: 0;
  margin-bottom: 0;
  max-width: initial;
  text-transform: uppercase;
}

.hero__subtitle {
  color: var(--ui-color);
  font-size: 1rem;
  letter-spacing: -0.025rem;
  line-height: 1rlh;
  text-transform: uppercase;
}

@media (--medium-viewport) {
  .hero__title {
    font-size: 3rem;
    line-height: 3rlh;
  }

  .hero__subtitle {
    font-size: 1.5rem;
    line-height: 1.5rlh;
  }
}
