.primary-nav {
}

.primary-nav__list {
    column-gap: 0.25rlh;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

.primary-nav__item--active {
    font-style: italic;
}

.primary-nav__link:link,
.primary-nav__link:visited {
    color: #fff;
    text-decoration: none;
}

.primary-nav__link:hover,
.primary-nav__link:active {
    text-decoration: underline;
}

.primary-nav__button {
    background: none;
    border: none;
    color: white;
    font-size: 1rem;
    line-height: 1rlh;
    padding: 0;
}

@media (--medium-viewport) {
  .primary-nav {
    margin-left: auto;
  };

  .primary-nav__list {
    column-gap: 0.5rlh;
  }
}
