.secondary-nav {
    font-size: var(--font-size-small);
}

.secondary-nav__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}

@media (--medium-viewport) {
    .secondary-nav__list {
        flex-direction: row;
        column-gap: 0.5rlh;
    }
}

.secondary-nav__link:link,
.secondary-nav__link:visited {
    color: var(--text-color);
    text-decoration: none;
}

.secondary-nav__link:hover,
.secondary-nav__link:active {
    text-decoration: underline;
}
