@import url("/static/utilities.css");

:root {
  --accent-color: #49897d;
  --accent-color-dark: #49897d;
  --secondary-color: #ffe448;
  --background-color-ui: #111;
  --background-color-content: #222;
  --header-width: 55rlh;
  --line-length: 30rlh;
  --page-width: 40rlh;
  --text-color: #eee;

  font-size: 1.0625rem;
  line-height: 1.5rem;
}

.container {
  margin-inline: auto;
  max-width: var(--page-width);
  padding-inline: 1rlh;
}

body {
  background-color: var(--background-color-content);
  color: var(--text-color);
  font-family: system-ui, sans-serif;
  margin: 0;
}

h1,
.h1 {
  font-size: 2rem;
  font-weight: 200;
  line-height: 1.5rlh;
  margin-block: 0;
}

h2,
.h2 {
  font-size: 1.25rem;
  line-height: 1rlh;
  margin-block: 0;
}

p {
  margin-block: 0;
}

a:any-link {
  color: var(--text-color);
}

.header {
  background-color: var(--background-color-ui);
  border-bottom: 1px solid #555;
  box-sizing: border-box;
  height: 2.5rlh;
}

.header__inner {
  align-items: center;
  display: flex;
  height: 100%;
  margin-inline: auto;
  max-width: var(--header-width);
  padding-inline: 1rlh;
}

.header__home {
  align-items: center;
  display: flex;
  gap: 0.25rlh;
}

.header__home:any-link {
  color: var(--accent-color);
  font-weight: bold;
  text-decoration: none;
}

.header__accent {
  fill: var(--accent-color);
  stroke: var(--accent-color);
}

.header__menu {
  margin-left: auto;
}

.header__link-list {
  display: flex;
  gap: 0.5rlh;
  justify-content: center;
  list-style-type: none;
  margin-block: 0;
  padding-left: 0;
}

.header__link:any-link {
  color: var(--text-color);
  text-decoration: none;
  transition: color 125ms ease-in;
}

.header__link--active:any-link {
  color: var(--accent-color);
  font-weight: bold;
}

main {
  background-color: var(--background-color-content);
}

.footer {
  background-color: var(--background-color-ui);
  border-top: 1px solid #555;
  font-size: 0.875rem;
}

.footer__inner {
  margin-inline: auto;
  max-width: var(--header-width);
  padding-inline: 1rlh;
}

.footer__link-list {
  display: flex;
  gap: 0.5rlh;
  justify-content: center;
  list-style-type: none;
  margin-block: 0;
  padding-left: 0;
}

.footer__link {
  color: var(--text-color);
}

.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site__content {
  flex-grow: 1;
}

.media {
  align-items: flex-start;
  display: flex;
  gap: 0.5rlh;
}

.media__image {
  object-fit: cover;
}

.media__body {

}

.player {
  display: flex;
  gap: 0.5rlh;
}

.player__right {
  margin-left: auto;
}

.toc {
  color: var(--secondary-color);
  margin-block: 0;
  padding-left: 1rlh;
}

.base-list {
  list-style-type: none;
  margin-block: 0;
  padding-left: 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rlh;
}

.audio {
  width: 100%;
}

.marker-place {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rlh;
}

.button {
  background-color: #333;
  border-color: #999;
  color: var(--text-color);
  font-size: 1rem;
}

.button--small {
  font-size: 0.875rem;
}

.playback {
  background-color: #333;
  border: 2px solid #999;
  display: inline-flex;
  padding-right: 0.25rlh;
}

.playback__checkbox {
  appearance: none;
  width: 0;
}

.playback__checkbox:checked {
}

.playback:has(.playback__checkbox:checked) {
  background-color: var(--accent-color-dark);
}

.chapter-name {
  writing-mode: vertical-lr;
}
