@import url("/static/utilities.css");

:root {
  --accent-color: #6ff0d8;
  --background-color: #222;
  --header-width: 55rlh;
  --line-length: 30rlh;
  --page-width: 40rlh;
  --text-color: #eee;

  font-size: 1.0625rem;
  line-height: 1.5rem;
}

.container {
  margin-inline: auto;
  max-width: var(--page-width);
  padding-inline: 1rlh;
}

body {
  margin: 0;
  color: var(--text-color);
  background-color: var(--background-color);

  font-family: system-ui, sans-serif;

}

h1 {
  font-size: 1.647rem;
  line-height: 1.5rlh;
  margin-block: 0;
}

p {
  margin-block: 0;
}

a:any-link {
  color: var(--text-color);
}

.header {
  border-bottom: 1px solid #555;
  box-sizing: border-box;
  height: 2.5rlh;
}

.header__inner {
  align-items: center;
  display: flex;
  height: 100%;
  margin-inline: auto;
  max-width: var(--header-width);
  padding-inline: 1rlh;
}

.header__home {
  align-items: center;
  display: flex;
  gap: 0.25rlh;
}

.header__home:any-link {
  color: var(--accent-color);
  font-weight: bold;
  text-decoration: none;
}

.header__accent {
  fill: var(--accent-color);
  stroke: var(--accent-color);
}

.header__menu {
  margin-left: auto;
}

.header__link-list {
  display: flex;
  gap: 0.5rlh;
  justify-content: center;
  list-style-type: none;
  margin-block: 0;
  padding-left: 0;
}

.header__link:any-link {
  color: var(--text-color);
  text-decoration: none;
  transition: color 125ms ease-in;
}

.header__link--active:any-link {
  color: var(--accent-color);
  font-weight: bold;
}

main {
  background-color: #111;
}

.footer {
  border-top: 1px solid #555;
  font-size: 0.875rem;
}

.footer__inner {
  margin-inline: auto;
  max-width: var(--header-width);
  padding-block: 1rlh;
  padding-inline: 1rlh;
}

.footer__link-list {
  display: flex;
  gap: 0.5rlh;
  justify-content: center;
  list-style-type: none;
  margin-block: 0;
  padding-left: 0;
}

.footer__link {
  color: var(--text-color);
}

.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site__content {
  flex-grow: 1;
}

.media {
  align-items: flex-start;
  display: flex;
  gap: 0.5rlh;
}

.media__image {

}

.media__body {

}

.base-list {
  list-style-type: none;
  margin-block: 0;
  padding-left: 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rlh;
}
