:root {
  --page-width: 40rlh;
  --header-width: 45rlh;
  --line-length: 30rlh;

  line-height: 1.5rem;
}

.container {
  margin-inline: auto;
  max-width: var(--page-width);
  padding-inline: 0.5rlh;
}

body {
  margin: 0;
}

h1 {
  font-size: 2rem;
  line-height: 2rlh;
  margin-block: 0;
}

p {
  font-size: 1rem;
  line-height: 1rlh;
  margin-block: 0;
}

.u-ll {
  max-width: var(--line-length);
}

.header {
  border-bottom: 2px solid black;
  height: 2rlh;
  box-sizing: border-box;
}

.header__inner {
  display: flex;
  align-items: center;
  margin-inline: auto;
  padding-inline: 0.5rlh;
  max-width: var(--header-width);
  height: 100%;
}

.header__home {
  display: flex;
  align-items: center;
  gap: 0.25rlh;
}

.header__menu {
  margin-left: auto;
}

.footer {
}

.footer__inner {
  margin-inline: auto;
  padding-inline: 0.5rlh;
  padding-block: 1rlh;
  max-width: var(--header-width);
}

.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site__content {
  flex-grow: 1;
}
