@import url("/static/utilities.css");

:root {
  --header-width: 55rlh;
  --line-length: 30rlh;
  --page-width: 40rlh;

  line-height: 1.5rem;
}

.container {
  margin-inline: auto;
  max-width: var(--page-width);
  padding-inline: 0.5rlh;
}

body {
  margin: 0;
}

h1 {
  font-size: 2rem;
  line-height: 2rlh;
  margin-block: 0;
}

p {
  font-size: 1rem;
  line-height: 1rlh;
  margin-block: 0;
}

.header {
  border-bottom: 2px solid black;
  box-sizing: border-box;
  height: 2rlh;
}

.header__inner {
  align-items: center;
  display: flex;
  height: 100%;
  margin-inline: auto;
  max-width: var(--header-width);
  padding-inline: 0.5rlh;
}

.header__home {
  align-items: center;
  display: flex;
  gap: 0.25rlh;
}

.header__home:any-link {
  color: black;
  text-decoration: none;
}

.header__menu {
  margin-left: auto;
}

.footer {
}

.footer__inner {
  margin-inline: auto;
  max-width: var(--header-width);
  padding-block: 1rlh;
  padding-inline: 0.5rlh;
}

.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site__content {
  flex-grow: 1;
}
