@import url("/static/utilities.css");

:root {
  --accent-color: #ff8686;
  --background-color: #222;
  --header-width: 55rlh;
  --line-length: 30rlh;
  --page-width: 40rlh;
  --text-color: #eee;

  font-size: 1.0625rem;
  line-height: 1.5rem;
}

.container {
  margin-inline: auto;
  max-width: var(--page-width);
  padding-inline: 1rlh;
}

body {
  margin: 0;
  color: var(--text-color);
  background-color: var(--background-color);

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
             "Noto Sans", "Liberation Sans", Arial, sans-serif;

}

h1 {
  font-size: 1.647rem;
  line-height: 1.5rlh;
  margin-block: 0;
}

p {
  font-size: 1rem;
  line-height: 1rlh;
  margin-block: 0;
}

.header {
  border-bottom: 1px solid #555;
  box-sizing: border-box;
  height: 2.5rlh;
}

.header__inner {
  align-items: center;
  display: flex;
  height: 100%;
  margin-inline: auto;
  max-width: var(--header-width);
  padding-inline: 1rlh;
}

.header__home {
  align-items: center;
  display: flex;
  gap: 0.25rlh;
}

.header__home:any-link {
  color: var(--accent-color);
  text-decoration: none;
}

.header__accent {
  fill: var(--accent-color);
  stroke: var(--accent-color);
}

.header__menu {
  margin-left: auto;
}

main {
  background-color: #111;
}

.footer {
  border-top: 1px solid #555;
}

.footer__inner {
  margin-inline: auto;
  max-width: var(--header-width);
  padding-block: 1rlh;
  padding-inline: 1rlh;
}

.footer__link {
  color: var(--text-color);
}

.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site__content {
  flex-grow: 1;
}
