{% extends "base.html" %}
{% load i18n %}
{% block title %}{{ block.super }}{% endblock %}
{% block content %}
    <div class="hero">
        <h1 class="hero__title">Media Explorer</h1>
        <p class="hero__subtitle">{% translate "Research and presentation software" %}</p>
    </div>
    <search class="search">
        <form action="" method="get" class="form search__form">
            <input type="search"
                name="q"
                class="form__input search__input"
                placeholder="{% translate 'Search' %}"
                aria-label="{% translate 'Search' %}" />
        </form>
    </search>
{% endblock %}
