{% extends "base.html.jinja2" %}
{% block title %}Accessibility{% endblock %}

{% block content%}
<div class="container">
  <h1 class="u-mt">Accessibility</h1>
  <p>Accessibility information here.</p>
</div>
{% endblock %}
