<!doctype html>
<html lang="en">

<head>
  {% block head %}
  <title>{% block title %}{% endblock %} – Media Explorer</title>
  <link rel="stylesheet" href="/static/main.css" />
  <link rel="icon" href="/static/favicon.png">
  {% endblock %}
</head>

<body class="site">
  <header class="header">
    <div class="header__inner">
      <a href="{{url_for('welcome') }}" class="header__home"><img src="/static/favicon.png" alt="" width="32" height="32" />Media Explorer</a>
      <span class="header__menu">Menu</span>
    </div>
  </header>

  <main class="site__content">
    {% block content %}
    {% endblock %}
  </main>

  <footer class="footer">
    <div class="footer__inner">
      <p class="u-align-center">&copy; Copyright 2025 by Marc Altmann</p>
      <p class="u-align-center u-mt-small">
        <a class="footer__link" href="{{url_for('contact')}}">Contact</a>
      </p>
    </div>
  </footer>
</body>

</html>
