{% extends "base.html.jinja" %}
{% block title %}Collections{% endblock %}

{% block content%}
<div class="container">
  <h1 class="u-mt">Collections</h1>
  <p>Coming soon: Collections</p>
</div>
{% endblock %}
