<footer class="footer u-mt-large">
    <div class="footer__inner">
        <nav>
            <ul class="footer__link-list u-align-center u-mt-small">
                <li><a class="footer__link" href="{{url_for('contact')}}">Contact</a></li>
                <li><a class="footer__link" href="{{url_for('privacy')}}">Privacy</a></li>
                <li><a class="footer__link" href="{{url_for('accessibility')}}">Accessibility</a></li>
                <li><a class="footer__link" href="{{url_for('terms-of-use')}}">Terms of Use</a></li>
                <li><a class="footer__link" href="{{url_for('legal-notice')}}">Legal Notice</a></li>
            </ul>
        </nav>
        <p class="u-align-center">&copy; Copyright 2025 by Marc Altmann</p>
    </div>
</footer>
