{% extends "base.html.jinja" %}
{% block title %}Organizations{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="u-mt">Organizations</h1>
    <p>Coming soon: Organizations page</p>
  </div>
{% endblock %}
