{% extends "base.html.jinja" %}
{% block title %}Privacy{% endblock %}

{% block content%}
<div class="container">
  <h1 class="u-mt">Privacy</h1>
  <p>Privacy information here.</p>
</div>
{% endblock %}
