{% extends "base.html.jinja" %}
{% block title %}Resources{% endblock %}

{% block content%}
<div class="container">
  <h1 class="u-mt">Resources</h1>
  <ul>
    {% for resource in resources %}
    <li><a href="{{url_for('resource-detail', resource_id=resource.id)}}">{{resource.id}}: {{resource.name}}</a></li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
