{% extends "base.html.jinja" %}
{% block title %}Resource{% endblock %}

{% block content%}
<div class="container">
    <h1 class="u-mt">{{resource.name}}</h1>
    <ul>
        <li>Id: {{resource.id}}</li>
        <li>Created on: {{resource.created_at.strftime('%Y-%m-%d')}}</li>
        <li>Updated on: {{resource.updated_at.strftime('%Y-%m-%d')}}</li>
    </ul>
</div>
{% endblock %}
