{% extends "base.html.jinja" %}
{% block title %}Resources{% endblock %}

{% block content%}
<div class="container">
  <h1 class="u-mt">Resources</h1>
  <ul class="base-list grid u-mt">
    {% for resource in resources %}
    <li class="media">
      <img class="media__image" src="{{resource.poster_url}}" alt="" width="240" height="240" />
      <div class="media__body">
        <p>
          <a href="{{url_for('resource-detail', resource_id=resource.id)}}">{{resource.name}}</a><br>
          {% if resource.is_video() %}Video{% else %}Audio{% endif %}<br>
          {{resource.duration|duration_format}}
        </p>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
