{% extends "base.html.jinja" %}
{% block title %}Resources{% endblock %}

{% block content%}
<div class="container">
  <h1 class="u-mt">Resources</h1>
  <p>Coming soon: Resources</p>
</div>
{% endblock %}
