{% extends "base.html.jinja" %}
{% block title %}Terms of Use{% endblock %}

{% block content%}
<div class="container">
  <h1 class="u-mt">Terms of Use</h1>
  <p>Terms of use information here.</p>
</div>
{% endblock %}
