{% extends "base.html.jinja2" %}
{% block title %}Welcome{% endblock %}

{% block content%}
<div class="container">
  <h1 class="u-mt">{{title}}</h1>
  <p>Media research and presentation software</p>
</div>
{% endblock %}
