{% load static %}
{% load i18n %}
{% load django_vite %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description"
              content="Research and presentation software for multimedia resources" />
        <title>
            {% block title %}
                {% translate "Elefant Explorer" %}
            {% endblock %}
        </title>
        {% vite_hmr_client %}
        {% vite_asset 'assets/js/main.js' %}
    </head>
    <body class="site">
        {% include "messages.html" %}
        {% include "header.html" %}
        <main class="site__main">
            <div class="container u-mt-large u-mb-large">
                {% block content %}{% endblock %}
            </div>
        </main>
        {% include "footer.html" %}
        {% block javascript %}{% endblock %}
    </body>
</html>
