{% load i18n %}
{% load static %}
<footer class="footer site__footer">
    <div class="footer__inner container container--wide">
        <p class="footer__title">
            <span>{% translate "Media Explorer" %} {{ site_version }}</span>
            <a href="https://github.com/marcaltmann/media-explorer"
               title="{% translate 'GitHub Repository' %}">
                <img src="{% static 'github-mark.png' %}"
                     alt="{% translate 'GitHub Logo' %}"
                     class="footer__icon"
                     width="30"
                     height="30">
            </a>
        </p>
        <nav class="secondary-nav u-mt">
            <ul class="secondary-nav__list">
                <li class="secondary-nav__item">
                    <a href="{% url 'core:contact' %}" class="secondary-nav__link">{% translate "Contact" %}</a>
                </li>
                <li class="secondary-nav__item">
                    <a href="{% url 'core:legal-notice' %}" class="secondary-nav__link">{% translate "Legal notice" %}</a>
                </li>
                <li class="secondary-nav__item">
                    <a href="{% url 'core:terms' %}" class="secondary-nav__link">{% translate "Terms of use" %}</a>
                </li>
                <li class="secondary-nav__item">
                    <a href="{% url 'core:privacy' %}" class="secondary-nav__link">{% translate "Privacy" %}</a>
                </li>
                <li class="secondary-nav__item">
                    <a href="{% url 'core:accessibility' %}" class="secondary-nav__link">{% translate "Accessibility" %}</a>
                </li>
            </ul>
        </nav>
    </div>
</footer>
