{% extends "admin/base.html.jinja" %}
{% block title %}Collections{% endblock %}

{% block content %}
  <div class="a-container">
    <h1 class="h2">{{ count }} collections</h1>
    <nav>
      <a href="{{ url_for('admin-new-collection') }}">Create collection</a>
    </nav>

    <table class="a-table u-mt">
      <thead>
        <tr>
          <th></th>
          <th><a href="?sort=name">Name</a></th>
          <th><a href="?sort=num_resources">Resources</a></th>
          <th>Color</th>
        </tr>
      </thead>

      <tbody>
        {% for collection in collection_list %}
          <tr>
            <td></td>
            <td>
              <a
                href="{{ url_for('admin-collection-detail', collection_id=collection.id) }}"
                >{{ collection.name }}</a
              >
            </td>
            <td>{{ collection.resources|length }} resources</td>
            <td>{{ collection.color }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
