<header class="a-site__header a-header">
  <a href="{{ url_for('admin') }}" class="a-header__home">
    {% include "_logo.svg.jinja" %} Media Annotator
  </a>
  <nav class="a-header__menu">
    <ul class="a-header__link-list">
      <li>
        <a class="a-header__link" href="{{ url_for('welcome') }}">Website</a>
      </li>
      <li>
        <a
          class="a-header__link {% if request.scope['path'].startswith('/admin') %}header__link--active{% endif %}"
          href="{{ url_for('admin') }}"
          >Admin</a
        >
      </li>
    </ul>
  </nav>
</header>
