{% extends "admin/base.html.jinja" %}
{% block title %}New resource{% endblock %}

{% block content %}
  <div class="a-container">
    <h1>New resource</h1>

    <form
      class="u-mt u-ll"
      method="post"
      action="{{ url_for('admin-new-resource') }}"
      enctype="multipart/form-data"
    >
      <div>
        <label for="file">File:</label>
        <input type="file" id="file" name="file" accept="video/*,audio/*" />
      </div>

      <div class="u-mt">
        <label for="name">Name:</label>
        <input
          id="name"
          type="text"
          name="name"
          value=""
          placeholder="Tenet"
          size="20"
          required
          minlength="2"
          maxlength="255"
        />
      </div>

      <div class="u-mt">
        <label for="description">Description (optional):</label>
        <textarea
          id="description"
          name="description"
          placeholder="Describe your resource"
        ></textarea>
      </div>

      <div class="u-mt">
        <label for="collection">Collection:</label>
        <select name="collection_id" id="collection" required>
          {% for collection in collection_list %}
            <option value="{{ collection.id }}">{{ collection.name }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="u-mt">
        <label for="category">Categories:</label>
        <select name="category_id" id="category" multiple size="4">
          {% for category in category_list %}
            <option value="{{ category.id }}">{{ category.name }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="u-mt">
        <button class="button" type="submit">Add resource</button>
      </div>
    </form>
  </div>
{% endblock %}
